---
layout: site
title: Encontro de Estudos em Pierre Bourdieu
---

<!-- Intro Header -->

<header class="intro parallax" data-velocity=".2222">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">{{ site.name }}</h1>

          <p class="intro-text"><a class="externa" href="http://dgp.cnpq.br/dgp/espelhogrupo/8615599726921024" title="{{site.author.name}} no Diretório dos Grupos de Pesquisa no Brasil Lattes">{{ site.author.name }} 
            <span id="venue">&mdash; <abbr title="Instituto de Filosofia e Ciências Humanas">IFCH</abbr>/<abbr title="Universidade Estadual de Campinas">Unicamp</abbr>
            </span></a>
          </p>

          <p class="date"> {{ site.date }} </p>

          <a href="#sobre" class="btn btn-circle page-scroll">
           <i class="fa fa-angle-double-down animated"></i>
          </a>

        </div>
      </div>
    </div>
  </div><!-- Intro -->
</header>

<section id="sobre">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Sobre o {{ site.brand }}</h2>
      <p id="sobre-grupo" class="lead">
      O Grupo de Estudos em Bourdieu foi credenciado pelo CNPq em 2014. Formado
      por docentes e alunos do Programa em Pós-Graduação do Instituto de
      Filosofia e Ciências Sociais da Unicamp, o grupo tem por foco o estudo da
      obra de Pierre Bourdieu e suas intersecções críticas com outros autores
      que lidam com temáticas similares. 
      </p>

      <p id="sobre-evento" class="lead">
      Este Encontro marca o primeiro evento do grupo e tem por objetivo
      apresentar pesquisas de membros do grupo que tanto se refiram a
      abordagens teóricas relacionadas a Bourdieu quanto a pesquisas aplicadas.
      Ainda, o Encontro contará com conferências e minicursos que tem por
      objetivo promover o diálogo entre as produções do grupo e a comunidade
      acadêmica mais ampla.
      </p>
    </div>
  </div>
</section>

<section id="conferencias">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Conferência de abertura<br>
        <small>
          3 de dezembro, 20h
          <small>
            Auditório I — <abbr title="Instituto de Filosofia e Ciências Humanas">IFCH</abbr>
          </small>
        </small>
      </h2>

      <h3 style="text-align: center">
        <a class="lattes" href="http://lattes.cnpq.br/8800427022722082" title="Currículo do Sistema de Currículos Lattes">Prof. Dr. Renato Ortiz</a>
          <small>Instituto de Filosofia e Ciências Humanas — Universidade Estadual de Campinas</small>
      </h3>

    </div>
  </div><!-- Conferencias -->
</section>

<section id="minicurso">
  <div class="minicurso-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Minicursos</h2>

          <!-- <div class="col&#45;lg&#45;6"> -->
        
            {% include minicurso-01.html %}

          <!-- </div> -->
          <!-- <div class="col&#45;lg&#45;6"> -->

            {% include minicurso-02.html %}

          <!-- </div> -->

      </div>
    </div>
  </div><!-- Minicurso -->
</section>

<section id="gts">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><abbr title="Grupos de Trabalho">GTs</abbr></h2>

      <div class="col-lg-6">
        <h3 id="gt1">
          <span class="rotulo-gt"><abbr title="Grupos de Trabalho">GT</abbr>1</span> Horizontes teóricos de Bourdieu: aproximações e provocações 
          <small>03 de dezembro, 13–17h — Sala Multiuso</small>
          <small class="debatedores">Debatedor: <strong><a href="http://lattes.cnpq.br/0879426010670880" title="Currículo do Sistema de Currículos Lattes" class="lattes">Prof. Dr. Mário Augusto Medeiros da Silva</a></strong></small>
        </h3>

        <dl class="gts">

          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#1-danilo">
            Visão e Dominação: elementos de uma socioanálise da percepção</a></dt>

          <dd>Danilo Farias da Silva</dd>

          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#1-henrique">
            Apontamento metodológicos para uma sociologia das obras: As
            abordagens de Antonio Candido e Pierre Bourdieu</a></dt>

          <dd>Henrique Pasti</dd>

          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#1-juliana">A dinâmica diferencial dos campos</a></dt>

          <dd>Juliana Closel Miraldi</dd>

          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#1-matheus">Problematização de uma sociologia da arte</a></dt>

          <dd>Matheus Silveira Mendes</dd>


          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#1-tabata">O “jovem” Bourdieu: Consciência e trabalho na gênese de uma
            categoria ontológica?</a></dt>

          <dd>Tábata Berg</dd>

        </dl>

      </div>

      <div class="col-lg-6">

        <h3 id="gt2">
          <span class="rotulo-gt"><abbr title="Grupos de Trabalho">GT</abbr>2</span> Leituras de Bourdieu como régua e compasso 
          <small>04 de dezembro, 13–17h — Sala Multiuso</small>
          <small class="debatedores">Debatedora: <strong><a href=" http://lattes.cnpq.br/9322843008905265" title=" http://lattes.cnpq.br/9322843008905265" class="lattes">Profa. Dra. Mariana Miggiolaro Chaguri</a></strong></small>
        </h3>

        <dl class="gts">

          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#2-ana">Bourdieu e a sociologia da cultura</a></dt>

          <dd>Ana Paula Sousa</dd>

          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#2-cinthia">Uma análise do processo de implementação da Universidade Nova
            no Brasil a partir da teoria de Pierre Bourdieu</a></dt>

          <dd>Cinthia C. Santos</dd>

          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#2-lua">“Poderosa, linda e perigosa” e o embaralhamento das
            fronteiras</a></dt>

          <dd>Luã Ferreira Leal</dd>

          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#2-raphael">Análise sobre consultas públicas pela Internet a partir do
            pensamento bourdieusiano</a></dt>

          <dd>Raphael Silveiras</dd>

          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#2-raul">Habitus: composição e influência</a></dt>

          <dd>Raul Vinícius Araújo Lima</dd>

          <dt><a class="resumos" href="{{ site.baseurl }}/resumos/#2-thiago">A produção artística e o pensamento Bourdieusiano</a></dt>

          <dd>Thiago Barbosa Aoki</dd>

        </dl>

      </div>

    </div>
  </div><!-- GTS -->
</section>

<section id="programacao">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Programação</h2>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th></th>
            <th>3 de dezembro</th>
            <th>4 de dezembro</th>
          </tr>
          <tr>
            <td>9h&ndash;12h <small>Sala Multiuso</small></td>
            <td><a href="#minicurso1">Minicurso 1: A teoria da prática de Pierre Bourdieu</a></td>
            <td><a href="#minicurso2">Minicurso 2: A gênese da teoria do <em>habitus</em></a></td>
          </tr>
          <tr>
            <td>13h&ndash;17h &mdash; <small>Sala Multiuso</small></td>
            <td><a href="#gts"><abbr title="Grupo de Trabalho">GT</abbr>1 Horizontes teóricos de Bourdieu: aproximações e provocações </a></td>
            <td><a href="#gts"><abbr title="Grupo de Trabalho">GT</abbr>2 Leituras de Bourdieu como régua e compasso</a></td>
          </tr>
          <tr>
            <td>19h&ndash;22h &mdash; <small>Auditório I</small></td>
            <td><a href="#conferencia-abertura">Conferência de abertura</a></td>
            <td>Atividade de encerramento</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</section><!--Programação-->

  <!-- <div id="map"> -->
  <!-- </div><!&#45;&#45; map &#45;&#45;> -->

<footer class="footer">
  <div class="container text-center">
    <p class="lead">Realização: <a href="https://gebu.github.io">{{site.author.name}}</a> & <a class="externa" href="http://www.ifch.unicamp.br/pos/sociologia" title="Programa de Pós-Graduação em Sociologia do Instituto de Filosofia e Ciências Humanas da Universidade Estadual de Campinas">
      Programa de Pós-Graduação em Sociologia — <abbr title="Instituto de Filosofia e Ciências Humanas">IFCH</abbr>/<abbr title="Universidade Estadual de Campinas">Unicamp</abbr></a></p>
    <p class="footer">Contato: <a class="email" title="Contato através do email" href="mailto:{{site.author.email}}">Grupo de Estudos em Bourdieu</a></p>
    <!-- <p>Copyright © Your Website 2014</p> -->
  </div>
</footer>
