<header class="minicursos" id="minicurso1">
<h5>
  03 de dezembro, 9h-12h
  <small>
    Sala Multiuso
  </small>
</h5>
<h3>
  A teoria da prática de Pierre Bourdieu
<small>
  Juliana Closel Miraldi
</small>
</h3>
</header>

<p class="minicurso">O minicurso objetiva introduzir a obra bourdieusiana e apresentar a teoria
da prática elaborada pelo sociólogo francês sob dois pontos de vista: o da
construção das bases epistemológicas e o da elaboração do sistema conceitual. A
partir do diálogo crítico que Bourdieu estabelece com as principais correntes
teóricas de sua época, e de sua tomada de posição em relação a elas, visamos
demonstrar que o a concepção bourdieusiana de produção de conhecimento
científico se funda como processo. Ademais, procuraremos explorar as condições
de possibilidades específicas do fazer sociológico, a saber: a posição do
observador e do seu campo de produção, a noção de causalidade e as condições de
verdade para sociologia. Já no que se refere ao sistema conceitual, iniciaremos
tratando da relação entre o econômico e o simbólico na construção teórica de
Bourdieu e seguiremos explorando a tríade conceitual “campo”,
“<em>habitus</em>” e “práticas”, mas também mobilizando outros conceitos
interdependentes e procurando defini-los relacionalmente.</p>

